.has-search .form-control {
    display: flex;
    padding-left: 2.375rem;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search:focus{
    outline: none;
}
.search-for-space .form-control:hover,
.search-for-space .form-control:focus,
.search-for-space .form-control:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@media screen and (max-width: 376px) {
  nav .live-stream{
    /* width: 20%; */
    /* background-color: aliceblue; */
    display: none;
  }
.search-for{
    margin-top: 10px;
}
.logo{
    margin-left: 100px;
}

}